.forms__label {
  display: block;
  font-size: 12px;
  color: #e6eade;
  opacity: 1;
  max-width: 433px;
  position: absolute;
}
.forms__label-name {
  top: -35px;
  left: 66px;
}
.forms__label-address {
  top: -35px;
  right: 66px;
}
.forms__label-num {
  top: 58px;
  left: 66px;
}
.forms__label-additional {
  top: 58px;
  right: 66px;
}
.forms__label-city {
  top: 147px;
  left: 66px;
}
.forms__label-reason {
  top: 147px;
  right: 66px;
}
.forms__label-text-commit {
  bottom: 147px;
  left: 278px;
}
.forms-second-stage__label-offer {
  top: -33px;
}
.forms-second-stage__label-tariff {
  top: 92px;
}
